#footer::before {
  content: "";
  display: block;
  width: 100%;
  background-color: black;
  transform: skew(0deg, -3deg);
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: left;
  z-index: 1;
}
